.open-ai {
    display: grid;
    @include for-mobile-layout {
        grid-template-areas:
            "chat-log"
            "main";
        grid-template-rows: 1fr 50px;
        .chat-log {
            grid-area: chat-log;
            padding: 0 10px;
        }
        .user-input {
            grid-area: main;
            display: flex;
            justify-content: space-between;
            input{
                width: 100%;
            }
        }
    }

    #content h1 {
        color: #2c3e50;
    }

    #content h2 {
        color: #34495e;
    }

    #content ul {
        list-style-type: disc;
        margin-left: 20px;
    }

    #content p {
        font-size: 1.2em;
        line-height: 1.5em;
    }
}
