// COLOR PALETTE
$clr1: #000000; 
$clr2: #0f0909; 
$clr3: #FFFFFF; 
$clr4: #F6F6F6;
$clr5: #838383;
$clr6: #00C6B1; 
$clr7: #005ef5; 

$bclr0: #2F4858;
$bclr1: #d9b51c;
$bclr2: #cd8313;
$bclr3: #b04632;
$bclr4: #89609e;
$bclr5: #051e8c;

// LAYOUT BREAKPOINTS
$break-large-desktop-max-width: 1441px;
$break-small-desktop-max-width:1440px;
$break-tablet-max-width: 1280px;
$break-mobile-max-width: 480px;
