.home-page {
    display: grid;
    height: 100%;

    @include for-mobile-layout {
        grid-template-areas:
            "head head"
            "main main";
        grid-template-rows: 40px auto;
        grid-template-columns: 150px 1fr;

        .home-page-header {
            grid-area: head;
            text-align: center;
        }

        .open-ai {
            grid-area: main;
        }
    }
}
